<!-- Horizontal Steppers -->
<div class="container">
  <hr />
  <h2><span class="badge badge-primary">Schritt 1</span>  Was wollen Sie zum Buchen</h2>

<!-- PRODUCT -->
<section class="section" id="products">
  <div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Boot</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>
  
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Padle 1</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>
  
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Padle 2</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>
      </div>
    </div>
  </div>
</section>

  <hr />
  <h2><span class="badge badge-primary">Schritt</span> Wählen Sie den Ort</h2>
  <button type="button" class="btn btn-primary">in der Nähe</button>
  <app-openmap></app-openmap>

  <hr />
  <h2><span class="badge badge-primary">Schritt</span> Wählen Sie Zahlung Art</h2>
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="md-v-line"></div><i class="fas fa-laptop mr-4 pr-3"></i> Paypal
    </li>
    <li class="list-group-item">
      <div class="md-v-line"></div><i class="fas fa-bomb mr-5"></i>Mastero
    </li>
    <li class="list-group-item">
      <div class="md-v-line"></div><i class="fas fa-code mr-5"></i>Visa/Mastercard
    </li>
  </ul>
  <hr />
</div>
<!-- /.Horizontal Steppers -->